body
  font-family: 'Arial',sans-serif

.container
  max-width: 1400px
  margin: 0 auto
  padding: 0 10px

.el-header
  //padding-top: 30px
  //height: unset
  //margin-bottom: 30px
  height: 75px !important

.el-form-item__content
  width: 100%
.el-menu.el-menu--horizontal
  border-bottom: none
.el-menu-item
  a
    display: inline-block

.el-menu-item
  a
    display: block
    color: inherit

.logo
  width: 300px
